spring:
  application:
    name: "curemap-communication-service"

  datasource:
    url: jdbc:postgresql://localhost/cc_service_db
    driver-class-name: "org.postgresql.Driver"
    username: admin
    password: admin
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
    cloud:
      bus:
        enabled: true
        refresh:
          enabled: true

  redis:
    host: localhost
    port: 6379
    database: 0
    timeout: 5000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0

management:
  endpoints:
    web:
      exposure:
        include: "*"